/* CSS for html and body tags, re-used across all pages*/

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  height:100vh;
  margin: 0px;
  display:flex; 
  flex-direction:column;
  text-align: center;
}
.Box {
  background-color: rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin:0px auto;
  margin-bottom: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 2px 16px;

  text-align: center;
  justify-content: center;
  align-items: center;
  width: 800px;
}
.Box:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}