/* CSS for navbar and footer elements, re-used across all pages*/

.navbar {
  background-color: #25355A;
  overflow: auto;
  white-space: nowrap;
  position: fixed; 
  top: 0; 
  font-weight: 500;
  width: 100%;
  margin-left: 0px;
  text-align: left;
}

.logout {
  padding-left: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
  color:#F2F4F7;
  position: absolute;
  top:0;
  left:0;
}

.welcomeName {
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  margin-top:0;
  margin-right:0;
  color:#F2F4F7;
  position: absolute;
  top:0;
  right:0;
}

.links {
  text-align: center;
}

.links a {
  display: inline-block;
  color: #F2F4F7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.links a:hover {
  background-color: #F2F4F7;
  color: #25355A;
}

.links a.active-page {
  background-color: #F2F4F7;
  color: #25355A;
}

footer {
  min-height:95px;
  margin-top: auto;
  text-align: center;
  background-color: #25355A;
  color: #F2F4F7;
}

footer a {
  color: #F2F4F7;
  margin-bottom: 10px;
}

footer p {
  margin-right: 0px;
  margin-left: 0px;
}
