.calendarDiv {
  background-color: rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin:0px auto;
  /* margin-right: 12px; */
  margin-top:80px;
  margin-bottom: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 2px 16px;

  text-align: center;
  justify-content: center;
  align-items: center;
  width: 800px;
  height:600px;
  /* background-color: rgb(255, 255, 255); */
    text-align: center;
  }

a.ical {
  background-color: #25355A;
  color: #F2F4F7;
}
