html {
    font-family: 'Montserrat', sans-serif;
    
}

body{
    height:100vh;
    margin: 0px;
    display:flex; 
    flex-direction:column;
    background-color: rgb(241, 243, 247);

}

.calendarDiv {

    text-align: center; 

  }
