html {
    font-family: 'Montserrat', sans-serif;
    
}

body{
    height:100vh;
    margin: 0px;
    display:flex; 
    flex-direction:column;
}

  h2 {
    margin-top: 75px;
  }
  
  p {
    margin-right: 200px;
  }