body {
    display: flex;
  }
  
  
  .loginBox {
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin:0px auto;
    margin-top:80px;
    margin-bottom: 52px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 15px;
    padding: 40px 46px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .loginFormBox {
    background-color: white;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin:0px auto;
  margin-top:40px;
  margin-bottom: 82px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 20px 16px;
  text-align: center;
  justify-content: center;

  }

  .inputStyle,
  .feedbackTextArea {
    font-size: 14px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 7px;
    margin-bottom: 20px;
    padding: 15px;
    resize: vertical; /* ability resize the textarea vertically */
  }
  
  .feedbackTextArea {
    height: 100px;
  }
  
  .inputButton {
    background-color: #061e40;
    color: white;
    font-size: 14px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .inputButton:hover {
    background-color: #55a6d9;
  }