<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content = "width=device-width, initial-scale=1">
        <title>CSCB63- Home</title>
        <link rel="icon" href="resources/other/Utoronto_coa.png">
        <link rel="stylesheet" href="../static/css/main.css" /> <!-- CSS for body and html tags used accross several pages to avoid duplicate code-->
        <link rel="stylesheet" href="../static/css/feedback.css" />
        <link rel="stylesheet" href="../static/css/navbar_footer.css" /> <!-- CSS for navbar and footer used accross several pages to avoid duplicate code-->
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet"> <!-- imported google font-->
    </head>

    <body>
        <div class="navbar">
            <a class="logout" href="./logout">log out</a>
            <div class="links">
                <a href="./">Home</a>
                <a href="./calendar">Calendar</a>
                <a href="https://piazza.com/class/kk052lckppx73x" target="_blank">Discussion Board</a>
                <a href="./lectures">Lectures</a>
                <a href="./tutorials">Tutorials</a>
                <a href="./assignments">Assignments</a>
                <a href="./tests">Tests</a>
                <a href="./links">Links</a>
                <a href="./grades">Grades</a>
                <a href="./feedback" class="active-page">Feedback</a>
                <a href="./remark">Remark Request</a>
            </div>
        </div>
        {% if session['student'] %}

                <div class='feedbackBox'>
                    <h2>Anonymous Feedback</h2>

                    <div class='feedbackFormBox'>


            <form action="{{ url_for('sendFeedback') }}" method="POST">
                    <label>Instructors</label>
                <select class="inputStyle" id="instructrNameDropdown" name="instructorname">
                    <option disabled selected>Select an instructor</option>
                    {% for instructor in instructors %}
                    <option>{{instructor['username']}}</option>
                    {% endfor %}


                </select>
                    <label>What do you like about the instructor teaching?</label>
                    <input class='inputStyle' type="text" name="feedback1" placeholder="Answer">
    
                    <label>What do you recommend the instructor to do to improve their teaching?</label>
                    <input class='inputStyle' type="text" name="feedback2" placeholder="Answer">

                    <label>What do you like about the labs?</label>
                    <input class='inputStyle' type="text" name="feedback3" placeholder="Answer">

                    <label>What do you recommend the lab instructors to do to improve their lab teaching?</label>
                    <input class='inputStyle' type="text" name="feedback4" placeholder="Answer">
                
                    <input class='inputButton' type="submit" value="Submit Feedback">
                    <br>
                    <br>
                    <!-- {% if message %}
                        {{message}}
                    {% endif %} -->
                    {% with messages = get_flashed_messages() %}  
                        {% if messages %}

                              {% for message in messages %}  
                              <div >

                                   <p class="flashMessages">
                                        {{ message }}
                                </p>  
                              {% endfor %}  
                            </div>

                        {% endif %}  
                     {% endwith %} 
                </form>
            </div>

        </div>
        {% endif %}

        {% if session['instructor'] %}
        {% for feedback in feedbacks %}

            <div class = "feedbackBox">
                <h3>Question: {{feedback['question']}}</h3><br>
                <p>{{feedback['comment']}}</p>
            </div>
        {% endfor %}
        {% endif %}
        <footer>
                <p>Authors: Arib Shaikh and Owen Chiu<br>
                <br>
                <a href="https://web.cs.toronto.edu/" target="_blank">Faculty of Computer Science at UofT</a></p>
            </footer>
    </body>