<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content = "width=device-width, initial-scale=1">
        <title>CSCB63- Home</title>
        <link rel="icon" href="resources/other/Utoronto_coa.png">
        <link rel="stylesheet" href="../static/css/main.css" /> <!-- CSS for body and html tags used accross several pages to avoid duplicate code-->
        <link rel="stylesheet" href="../static/css/grades.css" />
        <link rel="stylesheet" href="../static/css/navbar_footer.css" /> <!-- CSS for navbar and footer used accross several pages to avoid duplicate code-->
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet"> <!-- imported google font-->
    </head>

    <body>
        <div class="navbar">
            <a class="logout" href="./logout">log out</a>
            <p class="welcomeName">Welcome {{user_id}}</p>
            <div class="links">
                <a href="./">Home</a>
                <a href="./calendar">Calendar</a>
                <a href="https://piazza.com/class/kk052lckppx73x" target="_blank">Discussion Board</a>
                <a href="./lectures">Lectures</a>
                <a href="./tutorials">Tutorials</a>
                <a href="./assignments">Assignments</a>
                <a href="./tests">Tests</a>
                <a href="./links">Links</a>
                <a href="./grades" class="active-page" >Grades</a>
                <a href="./feedback">Feedback</a>
                <a href="./remark">Remark Request</a>
            </div>
        </div>
        <div class="Box">
            <h2>Welcome</h2>
            <p><b>{{user_id}}</b></p>
        </div>
        
        {% if session['student'] %}
        <div class='Box'>
                <h2>Grades</h2>
                <div class="table">
                        <div class="column">
                            <div class="headerrow">Assessment</div>
                            {% for grades in student_grades %}
                            <div class="row">{{grades['mark_id']}}</div>
                            {% endfor %}
                            
                        </div>
                        <div class="column">
                            <!-- Will create a for loop for when marks are retrieved through sql -->
                                <div class="headerrow">Mark</div>
                            {% for grades in student_grades %}
                            <div class="row">{{grades['mark']}}</div>
                            {% endfor %}
                                
                        </div>
                </div>

        </div>
        {% endif %}

        {% if session['instructor'] %}
        <div class='Box'>
            <h2>Grades</h2>

            <div class="table">
                <div class="column">
                    <div class="headerrow">Student Username</div>
                    {% for grades in instructor_grades %}
                        <div class="row">{{grades['username']}}</div>
                    {% endfor %}
                </div>

                <div class="column">
                    <div class="headerrow">Q1</div>
                    {% for grades in instructor_grades %}
                        <div class="row">{{grades['Q1']}}</div>
                    {% endfor %}
                </div>

                <div class="column">
                    <div class="headerrow">Q2</div>
                    {% for grades in instructor_grades %}
                        <div class="row">{{grades['Q2']}}</div>
                    {% endfor %}
                </div>

                <div class="column">
                    <div class="headerrow">Q3</div>
                    {% for grades in instructor_grades %}
                        <div class="row">{{grades['Q3']}}</div>
                    {% endfor %}
                </div>

                <div class="column">
                    <!-- Will create a for loop for when marks are retrieved through sql -->
                    <div class="headerrow">Q4</div>
                    {% for grades in instructor_grades %}
                        <div class="row">{{grades['Q4']}}</div>
                    {% endfor %}
                </div>

                <div class="column">
                    <!-- Will create a for loop for when marks are retrieved through sql -->
                    <div class="headerrow">A1</div>
                    {% for grades in instructor_grades %}
                        <div class="row">{{grades['A1']}}</div>
                    {% endfor %}
                </div>

                <div class="column">
                    <div class="headerrow">A2</div>
                    {% for grades in instructor_grades %}
                        <div class="row">{{grades['A2']}}</div>
                    {% endfor %}
                </div>

                <div class="column">
                    <div class="headerrow">A3</div>
                    {% for grades in instructor_grades %}
                        <div class="row">{{grades['A3']}}</div>
                    {% endfor %}
                </div>

                <div class="column">
                    <div class="headerrow">Final</div>
                    {% for grades in instructor_grades %}
                        <div class="row">{{grades['Final']}}</div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="feedbackBox">
                <h2>Enter Grades</h2>

                <div class='feedbackFormBox'>


            <form action="{{ url_for('enterGrades') }}" method="POST">
                <label>Student</label>
                    <select class="inputStyle" id="instructrNameDropdown" name="studentname">
                        <option disabled selected>Select a student</option>
                        {% for student in students %}
                        <option>{{student['username']}}</option>
                        {% endfor %}
                    </select>

                <label>Select an assessment</label>
                    <select class="inputStyle" id="aDropDown" type="text" name="aName">
                        <option disabled selected>Select an evaluation</option>
                        <option>Q1</option>
                        <option>Q2</option>
                        <option>Q3</option>
                        <option>Q4</option>
                        <option>A1</option>
                        <option>A2</option>
                        <option>A3</option>
                        <option>Final</option>

                    </select>
                <label>Enter Mark</label>
                <input class='inputStyle' type="text" name="markvalue" placeholder="0-100">
                <input class='inputButton' type="submit" value="Submit Feedback">
            </form>
            {% with messages = get_flashed_messages() %}  
                        {% if messages %}

                              {% for message in messages %}  
                              <div >

                                   <p class="flashMessages">
                                        {{ message }}
                                </p>  
                              {% endfor %}  
                            </div>

                        {% endif %}  
                     {% endwith %} 
            </div>
            
        </div>

        {% endif %}

        <footer>
                <p>Authors: Arib Shaikh and Owen Chiu<br>
                <br>
                <a href="https://web.cs.toronto.edu/" target="_blank">Faculty of Computer Science at UofT</a></p>
            </footer>
    </body>
