<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content = "width=device-width, initial-scale=1">
        <title>CSCB63- Home</title>
        <link rel="icon" href="resources/other/Utoronto_coa.png">
        <link rel="stylesheet" href="../static/css/main.css" /> <!-- CSS for body and html tags used accross several pages to avoid duplicate code-->
        <link rel="stylesheet" href="../static/css/index.css" />
        <link rel="stylesheet" href="../static/css/navbar_footer.css" /> <!-- CSS for navbar and footer used accross several pages to avoid duplicate code-->
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet"> <!-- imported google font-->
    </head>

    <body>
       
        <div class="navbar">
            <a class="logout" href="./logout">log out</a>
            <div class="links">
                <a href="index.html" class="active-page">Home</a>
                <a href="calendar.html">Calendar</a>
                <a href="https://piazza.com/class/kk052lckppx73x" target="_blank">Discussion Board</a>
                <a href="lectures.html">Lectures</a>
                <a href="tutorials.html">Tutorials</a>
                <a href="assignments.html">Assignments</a>
                <a href="tests.html">Tests</a>
                <a href="links.html">Links</a>
                <a href="grades.html">Grades</a>
                <a href="feedback.html">Feedback</a>
                <a href="remark.html">Remark Request</a>
            </div>
        </div>
        
        <h1>Essentials</h1>
        <div class="Box">
            <h2>Course Description</h2>

            <p>Design, analysis, implementation and comparison of efficient 
            data structures for common abstract data types. Priority queues: 
            heaps and mergeable heaps. Dictionaries: balanced binary search trees, 
            B-trees, hashing. Amortization: data structures for managing dynamic tables 
            and disjoint sets. Data structures for representing graphs. Graph searches.</p>

            <p><b>Exclusion</b> CSC263H, CSC265H, (CSCC78H)</p>

            <p><b>Prerequisite</b> CSCB36H or (CSCB38H) & [CGPA 2.75 or enrolment in a CSC subject POSt]</p>

            <a href="resources/other/blank.pdf" target="_blank"><b>Syllabus</b></a>
        </div>
        <div class="Box">
            <h2>Instructor</h2>
            <p><b>Dr. Anna Bretcher</b></p>
            <p>Email: <a href="mailto:anna.bretscher@utoronto.ca">anna.bretscher@utoronto.ca</a></p>
            <p>Office: IC 493</p>
        </div>
        <div class="Box">
            <h2>Lectures</h2>
            <p>Wednesdays 3-4pm <a href="https://utoronto.zoom.us/j/89553548645" target="_blank">Zoom Link</a>, 
                Thursdays 9:10-11:00 <a href="https://utoronto.zoom.us/j/83378932991" target="_blank">Zoom Link</a></p>
        </div>
        <div class="Box">
            <h2>Office Hours</h2>
            <p>Usually Mondays 11:00-12:30, Friday 10:40-11:30. Please see the calendar for weekly changes.</p>
        </div>
        <!-- Anonymous feedback is not yet functional-->
        <div class="Box">
                <h2>Anonymous Feedback</h2>
                <textarea rows="5" cols="80" id="description">
                </textarea>
                
                <button type="button">Submit Feedback</button> 

        </div>
        

        <footer>
            <p>Authors: Arib Shaikh and Owen Chiu<br>
            <br>
            <a href="https://web.cs.toronto.edu/" target="_blank">Faculty of Computer Science at UofT</a></p>
        </footer>
    </body>
</html>