<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content = "width=device-width, initial-scale=1">
        <title>CSCB63 - Lectures</title>
        <link rel="icon" href="resources/other/Utoronto_coa.png">
        <link rel="stylesheet" href="../static/css/main.css" />
        <link rel="stylesheet" href="../static/css/lectures.css" />
        <link rel="stylesheet" href="../static/css/navbar_footer.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet"> 
    </head>  
    <!--The following is how we built our tables without the <table> element, inspired by https://dev.to/flippedcoding/how-to-make-a-table-without-using-the-html-table-elements-5e11-->
    <body>
        <div class="navbar">
            <a class="logout" href="./logout">log out</a>
            <p class="welcomeName">Welcome {{user_id}}</p>
            <div class="links">
                <a href="./">Home</a>
                <a href="./calendar">Calendar</a>
                <a href="https://piazza.com/class/kk052lckppx73x" target="_blank">Discussion Board</a>
                <a href="./lectures" class="active-page">Lectures</a>
                <a href="./tutorials">Tutorials</a>
                <a href="./assignments">Assignments</a>
                <a href="./tests">Tests</a>
                <a href="./links">Links</a>
                <a href="./grades">Grades</a>
                <a href="./feedback">Feedback</a>
                <a href="./remark">Remark Request</a>
            </div>
        </div>

        <div class="table">
            <div class="column">
                <div class="headerrow">Week</div>
                <div class="row">1</div>
                <div class="row">2</div>
                <div class="row">3</div>
                <div class="row">4</div>
                <div class="row">5</div>
                <div class="row">6</div>
                <div class="row">7</div>
            </div>
            <div class="column">
                <div class="headerrow">Topic</div>
                <div class="row">Intro, Worst Case Complexity</div>
                <div class="row"> Balanced Trees (AVL)</div>
                <div class="row">AVL Trees height, and Augment. Interval Trees</div>
                <div class="row">Finish Interval Trees, Heaps and Graph Search Algorithms</div>
                <div class="row">Graph Searches and Minimum Spanning Trees</div>
                <div class="row">Proof of Prims, Dijkstra's Algorithm, Strongly Connected Components</div>
                <div class="row">Amortized Analysis</div>
            </div>
            <div class="column">
                <div class="headerrow">Wed Pre-Lecture Reading/Exercise</div>
                <div class="row">None</div>
                <div class="row">None</div>
                <div class="row">None</div>
                <div class="row"></div>
                <div class="row"> Term Test Wed</div>
                <div class="row">Ch 24.3, Practice Prims algorithm</div>
                <div class="row">Ch. 17.4, Ch. 21</div>
            </div>
            <div class="column">
                <div class="headerrow">Thursday Pre-Lecture Reading/Exercise</div>
                <div class="row">CLRS 3.1 (not including little "oh") or watch <a href="https://www.youtube.com/watch?v=__vX2sjlpXU" target="_blank">Big Oh Video</a> 
                    <a href="https://www.youtube.com/watch?v=JU767SDMDvA" target="_blank">Insertion Sort Video</a></div>
                <div class="row">Refresh your understanding of binary search trees <a href="https://www.youtube.com/watch?v=mtvbVLK5xDQ" target="_blank">video
                    visualization applet</a></div>
                <div class="row">None.</div>
                <div class="row">Chapter 6.1-6.4</div>
                <div class="row">If you have not had your tutorial, read the graph handout on the tutorials page. </div>
                <div class="row">22.5, Review DFS - make sure you understand it </div>
                <div class="row"></div>
            </div>
            <div class="column">
                <div class="headerrow">Wednesday Slides/Video</div>
                <div class="row"><a href="resources/other/blank.pdf" target="_blank">Intro Slides PDF</a></div>
                <div class="row"><a href="resources/other/blank.pdf" target="_blank">worksheet.pdf</a>
                    <a href="resources/other/blank.pdf" target="_blank">Inclass Worksheet
                    slides</a>
                    <a href="https://utoronto.zoom.us/rec/play/cPkKVMthfBjSNh8C9arS5iU0ZBNtkUX8etKMklUCM8aPpiVtnl2_Y5YR_cWddFB2vlWa0jkGSEqWNEhk.hNVzvFkr8380FGns" 
                    target="_blank">Zoom Recording</a></div>
                <div class="row"><a href="resources/other/blank.pdf" target="_blank">AVL trees augmenting worksheet</a>
                    <a href="resources/other/blank.pdf" target="_blank">In class worksheet</a>
                    <a href="https://utoronto.zoom.us/rec/play/xe3-BWhQIa99HuA6ar-kqNg028IUwxpfPnCN0r4sFtxP0_-MDbeK6coEm-bLm7b8GzO6FTwMXr9uqcMf.IvWbqDbkC9o5p3R1" 
                    target="_blank">Zoom Recording</a></div>
                <div class="row"><a href="resources/other/blank.pdf" target="_blank">Interval Tree Search Proof</a>
                    <a href="resources/other/blank.pdf" target="_blank">Heaps</a>
                    <a href="https://utoronto.zoom.us/rec/play/zpBKZxDPmhHRldejrZ0fnXt1Cvrp0ofjSzjzXwQiDCrBze29y1GDemjGLp8uMLg0txf5m4_Sl_j8Zg0g.17AKCDIZldEHg825" 
                    target="_blank">Zoom link</a></div>
                <div class="row">None.</div>
                <div class="row"><a href="resources/other/blank.pdf" target="_blank">MST In Class</a>
                    <a href="resources/other/blank.pdf" target="_blank">Dijkstra</a>
                    <a href="https://utoronto.zoom.us/rec/play/s8HE2dtGwcl7OWtfMMlQ9I_ivR3mmbieSP3lPhYygBqdIj7Do-uExVtGY5Ln-f0Pj9whkVdMS5w8hIU4.Glja1FlY-UeG3zYv" 
                    target="_blank">Zoom Link</a></div>
                <div class="row"><a href="resources/other/blank.pdf" target="_blank">Amortized Lecture slides</a>
                    <a href="resources/other/blank.pdf" target="_blank">Amortized Lecture slides In Class</a>
                    <a href="https://utoronto.zoom.us/rec/play/Ms9uZypiMbcYSes1jevEOJZf8cqMq_PBybH85r2rEdaARuXQOQcWF3dYgiaidZqGQTuaqchmJ1-hax4D.JS_0iOHyLPMjt66M" 
                    target="_blank">Zoom Link</a></div>
            </div>
            <div class="column">
                <div class="headerrow">Thursday Slides/Video</div>
                <div class="row"><a href="resources/other/blank.pdf" target="_blank">Worksheet PDF</a> <a href="resources/other/blank.pdf" target="_blank">
                </a><a href="https://utoronto.zoom.us/rec/play/w5Ims_xwzyJUVhutTMqNBT0caqXCWYyMWx5X-FJvA1dFPpCrjdO8V5osw6hsxEM74HVTmX9jZ2jdwCLj.qvnXbtIQPChGF0bo" target="_blank">Zoom</a> <a href="resources/other/blank.pdf" target="_blank">Worksheet1_class</a> <a href="resources/other/blank.pdf" target="_blank">Slides PDF</a></div>
                <div class="row"><a href="resources/other/blank.pdf" target="_blank">Worksheet</a>
                    <a href="resources/other/blank.pdf" target="_blank">Inclass Worksheet</a>
                    <a href="resources/other/blank.pdf" target="_blank">Slides</a>
                    <a href="https://utoronto.zoom.us/rec/play/YJYxBNbdKY8lIY98qjI_jHY5ZC73gSUeFCtAKmy6xJF6GEtw_VWFTFGr_guqhthaDEoRhYogPHBbR3fa.c5lUGL0uWjqS5aUX" target="_blank">Zoom Recording</a></div>
                <div class="row"><a href="resources/other/blank.pdf" target="_blank">Interval Trees Solutions</a>
                    <a href="resources/other/blank.pdf" target="_blank">Interval Trees In Class</a>
                    <a href="https://utoronto.zoom.us/rec/play/79LC30arivLpru-P863qalDb3ZjdsfdFrBMQPw-LuxDxxyvhcF_SURRw1zHHzgoW4UaVzrkNw-akYHC9.z4jw34MXv1txuaEo" target="_blank">Zoom Recording</a></div>
                <div class="row"><a href="resources/other/blank.pdf" target="_blank">Heaps Inclass</a>
                    <a href="resources/other/blank.pdf" target="_blank">Heap Building Example</a>
                    <a href="https://utoronto.zoom.us/rec/play/cdZUm3Uso9zxI5cres_xWo-TFx4FObO-q42FyWdkhqHY3GtHnxdXVUldc8YjVobpapnvkGGfbRHntZKV.DpkZreT6rHqqcwT2" target="_blank">Zoom Link</a></div>
                <div class="row"><a href="resources/other/blank.pdf" target="_blank">Graph Search Slides</a>
                    <a href="resources/other/blank.pdf" target="_blank">Searches Worksheet</a>
                    <a href="resources/other/blank.pdf" target="_blank">MST Slides</a>
                    <a href="resources/other/blank.pdf" target="_blank">MST Worksheet</a>
                    <a href="https://utoronto.zoom.us/rec/play/SCnzsPIBWdq0QN1KR9XM6yNQrRbY0n7iQwRZWlzycAsmUBJ0Qo0BlSLbE3jDoBP0TXfExU3mQcmS0jwS.5o01Wyhv502R1fm9" target="_blank">Zoom Link</a>
                    <a href="resources/other/blank.pdf" target="_blank">In Class Graph Notes</a>
                    <a href="resources/other/blank.pdf" target="_blank">MST in class</a> Only to slide 15</div>
                <div class="row"><a href="resources/other/blank.pdf" target="_blank">Strongly Connected Components Slides</a>
                    <a href="resources/other/blank.pdf" target="_blank">SCC Examples</a>
                    <a href="https://utoronto.zoom.us/rec/play/-Trk15VmueBwP8g1ewUUDeMIp-jSbJT8RDztfFgbkbVvsJBFNTLr6h4ootD2bC7jyX9HiQomclqYqbYH.XEg8QLRQfSMQ0iv4" target="_blank">Zoom Link</a></div>
                <div class="row"><a href="resources/other/blank.pdf" target="_blank">Potential Lecture slides</a>
                    <a href="resources/other/blank.pdf" target="_blank">Potential Lecture In Class</a>
                    <a href="https://utoronto.zoom.us/rec/play/CkJgpEBfL2nrdOuItJHlNO5xC3Uvy4-yYQePug3l-GEWE0h1ANwKM3H-pIrUfDv8WMUcJRXbFdaSUHi3.AmfGlBo6OeKxBGrb" target="_blank">Zoom Link</a></div>
            </div>
        </div>

        <footer>
            <p>Authors: Arib Shaikh and Owen Chiu<br>
            <br>
            <a href="https://web.cs.toronto.edu/" target="_blank">Faculty of Computer Science at UofT</a></p>
        </footer>
    </body>
</html>
