<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content = "width=device-width, initial-scale=1">
        <title>CSCB63 - Calendar</title>
        <link rel="icon" href="../static/other/Utoronto_coa.png">
        <link rel="stylesheet" href="../static/css/main.css" />
        <link rel="stylesheet" href="../static/css/login.css" />
        <link rel="stylesheet" href="../static/css/navbar_footer.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet"> 
    </head>

    <body>
        <div class='loginBox'>
            <h2>CSCB20 Student Login Page</h2>
            <div class='outerSwitch'>
                <div class="innerSwitch">
                    <div class="opaque">
                        <a href="./login" class="opaqLink">STUDENT</a>
                        <a href="./login" class="opaqLink">LOGIN</a>
                    </div>
                </div>

                <div class="innerSwitch">
                    <div class="transparent">
                        <a href="./instructorLogin" class="transpLink">INSTRUCTOR</a>
                        <a href="./instructorLogin" class="transpLink">LOGIN</a>
                    </div>
                </div>

            </div>

        <div class='loginFormBox'>
                <form action="/login" method="POST">
                    <label>Username</label>
                    <input class='inputStyle' type="text" name="username" placeholder="Username">
    
                    <label>Password</label>
                    <input class='inputStyle' type="password" name="password" placeholder="Password">
    
                        <div>
                            <input class='inputButton' type="submit" value="Log In">
                        </div>
                        {% if error %}
                            <p class=error><strong>Error:</strong> {{ error }}
                        {% endif %}
                        <div>
                            <br>Not a student? <a href="./instructorLogin">Take me to the instructor login page!</a>
                            <br>
                            <br>Don't have an account? <a href="./register">Create account here</a>.
                        </div>
                    </div>
                </form>
            </div>
            <footer>
                    <p>Authors: Arib Shaikh and Owen Chiu<br>
                    <br>
                    <a href="https://web.cs.toronto.edu/" target="_blank">Faculty of Computer Science at UofT</a></p>
                </footer>
    </body>
